{% extends 'components/default/baseLayout.html' %}
{% load static %}
{% load tags %}

{% block main %}

<div class="flex justify-center mt-10">
    {% include 'components/createPost.html' %}
</div>
{% for post in posts %}
<div class="flex items-center p-5 w-full bg-white">
    <div class="border-t border-b pt-16 grid grid-cols-2 gap-8">
        <div class="flex flex-col justify-start">
            <div class="flex flex-col w-full object-cover h-4/6 justify-items-start border rounded-lg overflow-hidden"
                 style="min-height: 320px">
                <img class="w-full h-full object-cover"
                     src="{% static post.image.url %}"
                     alt='{{ post.title }}'>
            </div>
        </div>
        <div class="flex flex-col">
            <div class="flex flex-col gap-4">
                <h1 class="capitalize text-4xl font-extrabold">{{ post.title }}</h1>
                <h2 class="text-3xl">{{ post.timestamp }}</h2>
                <p class="text-lg text-gray-500">{{ post.content }}</p>
                <div class="display-6">
                    {% if is_user_rating == 1 %}
                        <a href="{% url 'rate_post' post.id '1' %}">
                            <i class="fa-solid fa-thumbs-up text-blue-500"></i>
                        </a>
                    {% else %}
                        <a href="{% url 'rate_post' post.id '1' %}">
                            <i class="fa-regular fa-thumbs-up"></i>
                        </a>
                    {% endif %}
                    <div class="text-xl font-bold">{% post_rating post.id %}</div>
                    {% if is_user_rating == -1 %}
                        <a href="{% url 'rate_post' post.id '-1' %}">
                            <i class="fa-solid fa-thumbs-down text-red-500"></i>
                        </a>
                    {% else %}
                        <a href="{% url 'rate_post' post.id '-1' %}">
                            <i class="fa-regular fa-thumbs-down"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}