{% extends 'components/default/baseLayout.html' %}
{% load static %}

{% block main %}

<div class="flex justify-center mt-10">
    {% include 'components/createPost.html' %}
</div>

{% for post in posts %}
<div class="flex items-center p-5 w-full bg-white">
    <div class="border-t border-b pt-16 grid grid-cols-2 gap-8">
        <div class="flex flex-col justify-start">
            <div class="flex flex-col w-full object-cover h-4/6 justify-items-start border rounded-lg overflow-hidden"
                 style="min-heigth:320px">
                <img class="w-full h-full object-cover"
                     src="{% static post.image.url %}"
                     alt='{{post.title}}'>
            </div>
        </div>
        <div class="flex flex-col">
            <div class="flex flex-col gap-4">
                <h1 class="capitalize text-4xl font-extrabold">{{post.title}}</h1>
                <h2 class="text-3xl">{{post.timestamp}}</h2>
                <p class="text-lg text-gray-500	">{{post.content}}</p>
                <div class="flex items-center gap-4 my-6 cursor-pointer ">
                    <div class="bg-blue-600 px-5 py-3 text-white rounded-lg w-2/4 text-center">Add to bag</div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-400" viewBox="0 0 20 20"
                         fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                              clip-rule="evenodd"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}